*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}



section{
    width: 100%;
    height: 600px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 70%;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.text-login{
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    /* border: 3px solid black; */
}

form{
    margin: 0px;
    padding: 0px;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 3px solid black; */
}

.wrap-input{
    width: 100%;
    height: 100px;
    margin-top: -50px;
}

div[class|="input"] > input{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 15px;
    border: 1px solid  lightgray;
    outline: none;
    
}

.wrap-btn{
    width: 100%;
}

div[class|="btn"] > button{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
}

div[class|="btn-login"] > button{
    color: white;
    background-color: rgb(255,192,0);
    border: none;
    cursor: pointer;
    
}

div[class|="btn-signup"] > button{
    border: 1px solid rgb(255,192,0);
    cursor: pointer;
    background-color: white;
    
}

div[class|="btn-signup"] > button > div{
    color: rgb(255,192,0);
    
    
}

div[class|="finding"] > a{
    color: black;
}

.moveSignUp{
    width: 100%;
    height: 100%;
    line-height: 60px;
}