<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSC.css">
</head>
<body> 
    <!-- Menu -->
    <header>
        <div class="menu">Menu</div>
    </header>
    <!-- menu end -->

    <!-- Main -->
    <section>
        <!-- section -->
        <div class="sec">
            <!-- side bar -->
            <div class="side-bar">
                <h1>고객센터</h1>
                <li>
                    <a href="">공지사항</a>
                </li>
                <li>
                    <a href="">자주묻는질문</a>
                </li>
                <li>
                    <a href="">1:1문의하기</a>
                </li>
            </div>   
            <!-- side bar end -->
            
            <!-- main bar -->
            <div class="main-bar">
                <!-- title -->
                <div class="title">
                    <h1>공지사항</h1>
                    <span>새로운 소식 및 유용한 정보를 만나보실 수 있습니다</span>
                </div>
                <!-- title end -->

                <!-- contour -->
                <div class="contour">
                    <div>번호</div>
                    <div>제목</div>
                    <div>작성자</div>
                    <div>작성일</div>
                </div>
                <!-- contour end -->

                <!-- wrap content -->
                <ul class="wrap-content">
                    <li>
                        <div>1</div>
                        <div>[안내] 서비스 이용 약관안내</div>
                        <div>관리자</div>
                        <div>2024-08-26</div>
                    </li>
                    <li>
                        <div>2</div>
                        <div>[공지] 홈페이지 이용에 대한 공지사항</div>
                        <div>관리자</div>
                        <div>2024-08-26</div>
                    </li>
                   
                </ul>
                <!-- wrap content end -->
            </div>
            <!-- main bar end -->
            
        </div>
        <!-- section end -->
        
    </section>
    <!-- main end -->
</body>
</html>