<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/csc/CSC.css}">
</head>
<body>
    <!-- Menu -->
    <header>
        <div class="menu">Menu</div>
    </header>
    <!-- menu end -->

    <!-- Main -->
    <section>
        <!-- section -->
        <div class="sec">
            <!-- side bar -->
            <div class="side-bar">
                <h1>고객센터</h1>
                <li>
                    <a href="">공지사항</a>
                </li>
                <li>
                    <a href="">자주묻는질문</a>
                </li>
                <li>
                    <a href="">1:1문의하기</a>
                </li>
            </div>   
            <!-- side bar end -->
            
            <!-- main bar -->
            <div class="main-bar">
                <!-- title -->
                <div class="title">
                    <h1>1:1문의하기</h1>
                    <span>새로운 소식 및 유용한 정보를 만나보실 수 있습니다</span>

                    <a th:href="@{csc/inquiry}">글쓰기</a> 

                </div>
                <!-- title end -->

                <!-- contour -->
                <div class="contour">
                    <div>번호</div>
                    <div>제목</div>
                    <div>작성일</div>
                    <div>답변여부</div>
                </div>
                <!-- contour end -->

                <!-- wrap content -->
                <ul class="wrap-content">
                    <li th:each="servicecenterquestion, loop : ${paging}">
                        <div th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></div>
                        <a th:href="@{|/detail/${servicecenterquestion.cquestionId}|}" th:text="${servicecenterquestion.title}"></a> 
                        <div th:text="${#temporals.format(servicecenterquestion.questionDate, 'yyyy-MM-dd HH:mm:ss')}"></div>

                        <div></div>
                    </li>
                    
                   
                </ul>
                <!-- wrap content end -->
                
            </div>
            <!-- main bar end -->
            
        </div>
        <!-- section end -->
        
    </section>
    <!-- main end -->
</body>
</html>