<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/main/bootstrap.min.css}">
    <!-- icon CSS -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css}" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" th:href="@{/main/logo.png}">
    <title>푸릇푸릇푸르츠 | 너네가 과일을 알아?</title>
</head>
<body>
    <nav th:replace="~{layout/header :: headerFragment}"></nav>
   <th:block layout:fragment="content"></th:block>
    <footer th:replace="~{layout/footer :: footerFragment}"></footer>
    <th:block layout:fragment="script"></th:block>
</body>
</html>