<!--이순-->
<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    
    <link rel="stylesheet" th:href="@{/payment/payment.css}">

    <div id="main">
        <h2 class="orderList">주문서</h2>
        <div>
            <div class="box">
                <div class="orderItem">주문 상품</div>
                <div class="items">상품 들어오는 곳</div>
            </div>
            <div class="box">
                <h2>주문자 정보</h2>
                <div>
                    <div class="flexibleBox">
                        <div class="boxLt">주문자</div>
                        <div class="boxRt">군침이</div>
                    </div>
                    <div class="flexibleBox">
                        <div class="boxLt">휴대폰</div>
                        <div class="boxRt">010-9724-9724</div>
                    </div>
                    <div class="flexibleBox">
                        <div class="boxLt">이메일</div>
                        <div class="boxRt">gunchim@naver.com</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>배송정보</h2>
                <div>
                    <div class="flexibleBox">
                        <div class="boxLt">배송지</div>
                        <div class="boxRt">군침왕국</div>
                    </div>
                    <div class="flexibleBox">
                        <div class="boxLt">배송 요청사항</div>
                        <div class="boxRt">
                            <select name="" id="">
                                <option value="">선택해주세요</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>적립금(쿠폰)</h2>
                    <div class="flexibleBox">
                        <div class="boxLt">쿠폰 적용</div>
                        <div class="boxRt">
                            <select name="" id="">
                                <option value="">쿠폰을 선택해주세요</option>
                            </select>
                        </div>
                    </div>
                </div>
            <div class="box">
                <h2>결제 수단</h2>
                <div class="flexibleBox">
                    <div class="boxLt">결제수단 선택</div>
                    <div>
                        <div>
                            <button>신용카드</button>
                            <button>계좌이체</button>
                        </div>
                        <div>
                            <select name="" id="">
                                <option value="">선택해주세요</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="box">
                    <h2>개인정보</h2>
                    <div class="policy">개인정보 수집•이용 및 처리 동의</div>
                    <div class="policy">결제대행 서비스 약관 동의</div>
                    <div class="policy">전자지급 결제대행 서비스 이용약관 동의</div>
                    <div class="policy agree">위 내용을 확인 하였으며 결제에 동의합니다.</div>
                </div>
                <div  class="paymentbtn">
                    <button style="background-color: RGB(255,192,0);" class="cardslash">결제하기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{|payment/payment.js|}"></script>
</div>
</html>