/*이순*/
*{
    /* border: 3px solid RGB(255,192,0);
    margin: 0;
     */
}



/*메인div*/
/*% -> px 변환시키기*/
#main{
    margin: auto;
    border-radius: 15px;
    margin-bottom: 200px;
    width: 1150px;
    background-color: rgb(255 192 0 / 43%);
    border-radius: 20px;
    padding-bottom: 20px;
}

/*구매목록div*/
.mainText{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*장바구니 문구*/
.cartText{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    width: 1000px;
}



/*----------------------------------*/
.cartMain{
    display: flex;
    height: 85%;
    justify-content: center;
}




/*카트구매목록div*/
.cart{
    align-items: center;
    justify-content: center;

}

.cartCheck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 600px;
    border-radius: 5px;
}
.cartList{
    width: 600px ;
}
/*물건 리스트 구역만 나누고 디테일 안함*/




.item{
    height: 100px;
    margin: 18px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemCheck{
    display: flex;
    width: 300px;
    margin: 0 10px;
}
    
/*
input{
    margin-right: 10px;
}
*/
.itemCheck>input{
    width: 8%;
    margin-right: 10px;
}

.itemCheck>p{
	display:flex;
	align-items: center;
	margin: 0;
}

/* .checkbox{
    width: 8%;
    margin-right: 10px;
} */



.itemInfor{
    display: flex;
    padding-left: 15px;
    justify-content: space-evenly;
    width:300px;
    align-items: center;
}
.itemImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.itemCount{
    margin: 15px;
}




.countbtn{
    display: flex;
}
.cartRt{
    margin-left: 10px;
}
.cartCash{
    width: 400px;
    text-align: start;
    padding: 10px;
    border-radius: 10px;
}
.payment{
    font-size: 20px;
    font-weight: bold;
}
.cartInline{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.cartInlineTotal{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.itemPrice{
    font-size: 15px;
}
.sale.pay{
    color: red;
}
.loginsale{
    display: flex;
    justify-content: end;
    font-size: 10px;
}
.total{
    align-self: center;
    padding: 0 5px;
}
.totalPrice{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.cupon{
    display: flex;
    justify-content: end;
    font-size: 10px;
}
.cartBuy{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: RGB(255,192,0);
    width: 420px;
    
}

.paymenttext{
    text-decoration: none;
}

/*-----------------------------*/
