*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 150px;
    /* border: 3px solid black; */
}

section{
    width: 100%;
    height: 600px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
   
}

.menu{
    width: 100%;
    background-color: orange;
}

.sec{
    padding-top: 50px;
    width: 80%;
    list-style-type: none;
    display: flex;
    
}

.side-bar{
    display: inline-block;
}


.side-bar > h1{
    margin-bottom: 30px;
}

.side-bar a{
    color: dimgrey;
}

.side-bar > li{
    width: 200px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    line-height: 50px;
}

.main-bar{
    margin-left: 150px;
    width: 100%;
    height: 1000px;
}

.title{
    display: flex;
}

.title > span{
    line-height: 30px;
    font-size: smaller;
    margin-left: 14px;
    color: gray;
}

.contour{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-top: 3px solid black;
    border-bottom: 1px solid black;    
}

.contour > div{
    width: 100px;
    height: 100%;
    text-align: center;
}


.contour > :nth-child(2){
    width: 500px;
}

.contour > :nth-child(4){
    margin-left: 30px;
}

.wrap-content{
    width: 100%;
    height: 800px;
    list-style-type: none;
    
}

.wrap-content a{
    color: black;
    text-decoration-line: none;
}

.wrap-content > li{
    display: flex;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 60px;    
    align-items: center;
    justify-content: left;
}

.wrap-content > li > div:not(:nth-child(2)){
    width: 100px;
    padding: 20px 0;
    text-align: center;
}

.wrap-content > li > :nth-child(2){
    width: 500px;
    padding: 20px 10px;
}


.wrap-content > li > :nth-child(4){
    margin-left: 30px;
}


.Question{
    width: 100%;
    height: 800px;
    margin-top: 60px;
}

div > input{
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;    
}

.content{
    margin-top: 50px;
}

div[class="qs-info-content"] > textarea{
    width: 300px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    margin-top: 20px;
}

.Question > button{
    width: 300px;
    height: 50px;
    border: none;
    color: white;
    background-color: rgb(255,192,0);
    cursor: pointer;
    margin-top: 30px;
}


form > div{
    margin-bottom: 50px;
}


div[class="title"] > a{
    border: none;
    background-color: rgb(255,192,0);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-left: 600px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}