<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body> 
    <!-- Menu -->
    <header>
        <div class="menu">Menu</div>
    </header>
    <!-- menu end -->
     
     <!-- Main -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- login text -->
           <div class="text-login">
                <p>로그인</p>
           </div>
           <!-- text-login end -->
            
        <!-- form -->
        <form>
        <!-- wrap input -->
        <div class="wrap-input">
           <!-- input id -->
            <div class="input-id">
                <input type="text" placeholder="아이디를 입력해주세요">
           </div>
           <!-- input id end  -->
            
           <!-- input pwd -->
           <div class="input-pwd">
                <input type="password" placeholder="비밀번호를 입력해주세요">
           </div>
           <!-- input pwd end  -->
        </div>
        <!-- end wrap-input -->

        <!-- btn wrap  -->
        <div class="wrap-btn">
           <div class="btn-login">
                <button type="submit">로그인</button>
           </div>
           <!-- btn-login end  -->
           <div class="btn-signup">
                <button type="button">
                  <span>회원가입</span> 
               </button>
           </div>
           <!-- btn-singup end  -->
        </div>
        <!-- wrap-btn end -->

        <!-- wrap finding -->
        <div class="wrap-finding">
            <div class="finding">
                 <a href="">아이디</a>
                 <span>|</span>
                 <a href="">비밀번호 찾기</a>
            </div>
            <!-- finding end -->
         </div>
         <!-- wrap-finding end  -->

    </form>
    <!-- form end -->
</div>
<!-- container end -->
    </section>
    <!-- main end -->
</body>
</html>